- article = @article if @article
.article
  %h2
    %a{:href => article.permalink}
      =article.title
    %span
      =article.comments.size
  %h3
    ="Posted by #{article.author} on #{humanized_date article.published_at}"
  %p.entry
    =article.body_html
  .meta
    %span
      Tags:
    =link_to_tags article.tags
    %br/
    %span
      Meta:
    ="#{article.comments.size} comments, <a href='#{article.permalink}' rel='permalink'>permalink</a>"
