=partial :article
%h5
  Comments
#comments
  =partial :comment, :collection => @article.comments

%div{:id => "new_comment"}
  %form{:action => "/article/#{@article.id}/comments"}
    %p
      %input{:type => "text", :id => "comment_author"}
      %label{:id => "author_label"}
        Your name (required)
    %p
      %input{:type => "text", :id => "comment_email"}
      %label{:id => "email_label"}
        Your email address (required)
    %p
      %input{:type => "text", :id => "comment_homepage"}
      %label{:id => "homepage_label"}
        Website
    %p
      %label{:id => "comment_label"}
        Please enter your comment
      %textarea{:id => "comment_body"}
    %p
      %button{:type => "submit", :id => "comment_submit", :onclick => "Comment.submit('#{@article.id}'); return false;"}
        Submit Comment (Thanks)
